<?xml version='1.0' encoding='utf-8'?>
<!-- http://www.apache.org/licenses/LICENSE-2.0 -->

<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">
    <Connector port="80" protocol="HTTP/1.1" connectionTimeout="20000" URIEncoding="UTF-8"
	       compression="on" useSendfile="false" compressableMimeType="text/html,text/xml,text/json,text/javascript,text/css,text/plain,application/javascript,application/xml,application/xml+xhtml"
               compressionMinSize="2048" redirectPort="8443" />

    <Engine name="Catalina" defaultHost="localhost">

      <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.plugins.AccessLogJdbcValve"
        	   statement="insert into log_access (server_ts,remote_ip,local_ip,method,url,query_string,protocol,http_status,bytes_sent,referer,user_agent,req_time,session_id,user_id,agent_proxy,rsp_time,thread_name) values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)" 
               pattern="%t%a%A%m%U%q%H%s%B%{Referer}i%{User-Agent}i%T%S%{user_id}s%{agent_proxy}s%F%I" />
      </Host>

    </Engine>
  </Service>
</Server>
